nav {
  max-width: 480px;
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav ul li {
  font-size: 18px;
  cursor: pointer;
}

.nav__item-active {
  color: #ed241a;
}
